header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(29, 133, 133);
  padding: 10px 20px;
  margin-bottom: 150px;
  border-radius: 10px;
}

footer{
    text-align: center;
    background-color:  rgb(29, 133, 133);
    padding: 20px;
    margin-top: 80px;
    border-radius: 10px;

}